html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}




@tailwind base; 
@tailwind components;
@tailwind utilities;

@layer components{
    .btn-blue {
        @apply bg-blue-300 text-blue-800 p-3 rounded-lg m-5 hover:bg-blue-50 hover:text-pink-500 transition-all active:bg-pink-800 active:text-pink-50
    }
    .info-count{
        @apply absolute right-[3px] top-[-5px] bg-red-500 px-[5px] text-white rounded-full aspect-square text-[10px] flex justify-center items-center;
    }
    .page-option{
        @apply cursor-pointer flex w-full rounded-lg items-center gap-2 h-[35px] hover:opacity-75 hover:scale-105 transition-all text-lg
    }
    .page-option-selected{
        @apply cursor-pointer flex text-lg w-full rounded-lg bg-gradient-to-r from-gs h-[35px] to-[#2F8CE9] items-center gap-2 pr-2
    }
    .post-option{
        @apply md:max-[918px]:gap-[2px] md:max-[918px]:text-[0.7rem] flex items-center rounded-full border-solid border-border border-[1.5px] px-2 gap-2 max-[324px]:text-[0.7rem] max-[324px]:gap-[2px]
    }
    .text-input{
        @apply border-[1.5px] p-2 border-solid border-border h-[35px] w-full rounded-lg box-border shadow-text_input_shadow
    }
    .foot-nav-option{
        @apply flex flex-col items-center
    }
    .ingrid-font-style{
        font-family: 'Ingrid Darling', cursive;
    }
}
